<%- include("./partials/header") %>
    <form action="" class="form-inline">
        <input id="datepicker" name="date" width="276" />
        <button type="button" class="btn btn-success d-inline">Search</button>
    </form>


    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    <% allQuiz.forEach(function(quiz) { %>
        <div class="list-group">
            <a href="/quiz/<%= quiz._id %>" class="list-group-item list-group-item-action flex-column align-items-start ">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <%= quiz.name %>
                    </h5>
                    <small><%= quiz.date %></small>
                </div>
                <p class="mb-1">
                    Quiz Slot:
                    <%= quiz.slot %>
                </p>
            </a>
        </div>
        <% }) %>
            <%- include("./partials/footer") %>