<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/user.css" />

</head>
<%- include("./partials/header") %>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>User</span></th>
                                        <th><span>Score</span></th>
                                        <th class="text-center"><span>Correct</span></th>
                                        <th><span>Wrong</span></th>
                                        <th><span>Rank</span></th>
                                        <th><span>Status</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var i=1; %>
                                        <% allResponses.forEach(function(response) { %>

                                            <tr>
                                                <td>
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                                                    <a href="/user/<%= response.user._id %>" class="user-link">
                                                        <%= response.user.name %>
                                                    </a>
                                                    <% if(response.user.role==="2") { %>
                                                        <span class="user-subhead">Premium User</span>
                                                        <% } %>
                                                            <% if(response.user.role!="2") { %>
                                                                <span class="user-subhead">User</span>
                                                                <% } %>
                                                </td>
                                                <td>
                                                    <%= response.score %>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-default"><%= response.correct %></span>
                                                </td>
                                                <td>

                                                    <%= response.wrong %>

                                                </td>
                                                <td style="width: 20%">
                                                    <%= i %>
                                                </td>

                                                <td>
                                                    <% if(i<5 && !response.paid) { %>
                                                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#<%= response.user.name %>">
                                                        Pay Reward
                                                        </button>
                                                        <% } %>
                                                            <% if(response.paid) { %>
                                                                <span class="material-icons">
                                                                check_circle
                                                                </span>
                                                                <% } %>
                                                </td>
                                            </tr>
                                            <div class="modal fade" id="<%= response.user.name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Pay
                                                                <%= response.user.name %>
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h6>UPI ID:
                                                                <%= response.user.fundAccount %>
                                                            </h6>
                                                            <form action="/quiz/<%= response.quiz._id %>/leaderboard/<%= response._id %>?_method=PUT" method="POST">
                                                                <div class="form-group">
                                                                    <label for="reward">Enter reward amount :</label>
                                                                    <input type="text" name="reward" id="reward">
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-primary">Pay</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <% i++; %>
                                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <!-- <button data-toggle="modal" data-target="#myModal">Pay</button>
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Payment Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you wanna pay the user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="order-button1" class="btn btn-default" data-dismiss="modal">Yes</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <script>
                            document.getElementById('order-button1').onclick = function(e) {
                                alert
                                var url = '/razorpay/payout';
                                var params = {
                                    amount: "1000",
                                    fundAccountId: "fa_GESdV8QX7vQDeX",
                                    quizName: "Quiz 1",
                                };

                                var xmlHttp = new XMLHttpRequest();
                                xmlHttp.open("POST", url, true); // false for synchronous request
                                xmlHttp.setRequestHeader("Content-type", "application/json");
                                xmlHttp.send(JSON.stringify(params));
                            }
                        </script> -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <%- include("./partials/footer") %>