<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/user.css" />

</head>
<%- include("./partials/header") %>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>User</span></th>
                                        <th><span>Score</span></th>
                                        <th class="text-center"><span>Correct</span></th>
                                        <th><span>Wrong</span></th>
                                        <th>Reward</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% allResponses.forEach(function(response) { %>
                                        <% var i=0; %>
                                            <!-- <script>
                                                document.getElementById('order-button1').onclick = function(e) {
                                                    var url = '/razorpay/payout';
                                                    var params = {
                                                        amount: response.quiz.reward,
                                                        fundAccountId: response.user.fundAccount,
                                                        quizName: response.quiz.name,
                                                    };

                                                    var xmlHttp = new XMLHttpRequest();
                                                    xmlHttp.open("POST", url, true); // false for synchronous request
                                                    xmlHttp.setRequestHeader("Content-type", "application/json");
                                                    xmlHttp.send(JSON.stringify(params));
                                                }
                                            </script> -->
                                            <tr>
                                                <td>
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                                                    <a href="/user/<%= response.user._id %>" class="user-link">
                                                        <%= response.user.name %>
                                                    </a>
                                                    <% if(response.user.role==="2") { %>
                                                        <span class="user-subhead">Premium User</span>
                                                        <% } %>
                                                            <% if(response.user.role!="2") { %>
                                                                <span class="user-subhead">User</span>
                                                                <% } %>
                                                </td>
                                                <td>
                                                    <%= response.score %>
                                                </td>
                                                <td class="text-center">
                                                    <span class="label label-default"><%= response.correct %></span>
                                                </td>
                                                <td>

                                                    <%= response.wrong %>

                                                </td>
                                                <td style="width: 20%">
                                                    <% if(user.role==="2") { %>
                                                        <a href="#" class="table-link">
                                                            <span class="material-icons"> verified </span>
                                                        </a>
                                                        <% } %>
                                                            <% if(response.user.role==="3") { %>
                                                                <a href="#" class="table-link">
                                                                    <span class="material-icons"> face </span>
                                                                </a>
                                                                <% } %>
                                                                    <% if(response.user.role==="3") { %>
                                                                        <a href="/user/<%= response.user._id %>/edit" class="table-link">
                                                                            <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                                                                        </a>
                                                                        <% } %>
                                                                            <a href="#" class="table-link danger">
                                                                                <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                                                                            </a>
                                                </td>
                                                <td>
                                                    <% if(i==0 && !response.paid) { %>
                                                        <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">Pay Reward</button>
                                                        <% } %>
                                                </td>
                                            </tr>
                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Payment Confirmation</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Do you wanna pay the user?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" id="order-button1" class="btn btn-default" data-dismiss="modal">Yes</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <script>
                                                document.getElementById('order-button1').onclick = function(e) {
                                                    alert
                                                    var url = '/razorpay/payout';
                                                    var url2 = '/response/<%= response._id %>';
                                                    var params = {
                                                        amount: response.quiz.reward * 100,
                                                        fundAccountId: response.user.fundAccount,
                                                        quizName: response.quiz.name,
                                                    };

                                                    var xmlHttp = new XMLHttpRequest();
                                                    //On succesfull transaction
                                                    xmlHttp.onreadystatechange = function(res) {
                                                        if (xmlHttp.readyState === 4) {
                                                            res = JSON.parse(xmlHttp.responseText);
                                                            if (res.data != "rejected" || res.data != "cancelled") {
                                                                var newxmlHttp = new XMLHttpRequest();
                                                                newxmlHttp.open("PUT", url2, true); // false for synchronous request
                                                                newxmlHttp.setRequestHeader("Content-type", "application/json");
                                                            }
                                                        }
                                                    }
                                                    xmlHttp.open("POST", url, true); // false for synchronous request
                                                    xmlHttp.setRequestHeader("Content-type", "application/json");
                                                    xmlHttp.send(JSON.stringify(params));
                                                }
                                            </script>
                                            <% i++; %>
                                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                        <!-- <button data-toggle="modal" data-target="#myModal">Pay</button>
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Payment Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you wanna pay the user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="order-button1" class="btn btn-default" data-dismiss="modal">Yes</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <script>
                            document.getElementById('order-button1').onclick = function(e) {
                                alert
                                var url = '/razorpay/payout';
                                var params = {
                                    amount: "1000",
                                    fundAccountId: "fa_GESdV8QX7vQDeX",
                                    quizName: "Quiz 1",
                                };

                                var xmlHttp = new XMLHttpRequest();
                                xmlHttp.open("POST", url, true); // false for synchronous request
                                xmlHttp.setRequestHeader("Content-type", "application/json");
                                xmlHttp.send(JSON.stringify(params));
                            }
                        </script> -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <%- include("./partials/footer") %>