<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
    <style>
        a.disable {
            pointer-events: none;
        }
    </style>
</head>
<%- include("./partials/header") %>


    <div class="container">
        <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Name</th>
                        <th class="text-center">Created</th>
                        <th class="text-center">Reward</th>
                        <th class="text-center">Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% var i=1; %>
                        <% allUser.forEach(function(user) { %>

                            <tr>
                                <td class="text-center text-muted">
                                    <%= i %>
                                </td>
                                <td>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="widget-content-left">
                                                    <% if(user.photoUrl) { %>
                                                        <img src="<%= user.photoUrl %>" alt="Admin" class="rounded-circle" height="45" width="45">
                                                        <% } %>
                                                            <% if(!user.photoUrl) { %>
                                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle" alt="" height="45" width="45" />
                                                                <% } %>
                                                </div>
                                            </div>
                                            <div class="widget-content-left flex2">
                                                <div class="widget-heading">
                                                    <a href="/user/<%= user._id %>" class="user-link">
                                                        <%= user.name %>
                                                    </a>
                                                </div>
                                                <% if(user.subscription) { %>
                                                    <div class="widget-subheading opacity-7">Premium User</div>
                                                    <% } %>
                                                        <% if(!user.subscription) { %>
                                                            <div class="widget-subheading opacity-7">User</div>
                                                            <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <% var bdate1 = user.createdAt + "" %>
                                        <% var date1 = bdate1.split(" "); %>
                                            <% var date = date1[2] + " " + date1[1] + " " + date1[3] %>
                                                <%= date %>
                                </td>
                                <td class="text-center">
                                    ₹
                                    <%= user.reward %>
                                </td>
                                <td class="text-center">
                                    <a href="#">
                                        <%= user.email %>
                                    </a>
                                </td>
                                <td>
                                    <% if(user.subscription) { %>
                                        <a href="#" class="table-link">
                                            <span class="material-icons"> verified </span>
                                        </a>
                                        <% } %>
                                            <% if(user.role==="3") { %>
                                                <a href="#" class="table-link">
                                                    <span class="material-icons"> face </span>
                                                </a>
                                                <% } %>
                                                    <% if(user.role==="3") { %>
                                                        <a href="/user/<%= user._id %>/edit" class="table-link">
                                                            <span class="fa-stack">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                                                        </a>
                                                        <% } %>
                                </td>
                            </tr>
                            <% i++; %>
                                <% }) %>

                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% if(prev >= 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="/user/page/<%= prev %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <% } %>
                            <% if(prev < 1) { %>
                                <li class="page-item">
                                    <a class="page-link disable" href="/user/page/<%= prev %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <% } %>
                                    <li class="page-item"><a class="page-link" href="/user/page/1">1</a></li>
                                    <% if(pages >= 2) { %>
                                        <li class="page-item"><a class="page-link" href="/user/page/2">2</a></li>
                                        <% } %>
                                            <% if(pages < 2) { %>
                                                <li class="page-item "><a class="page-link disable" href="#">2</a></li>
                                                <% } %>
                                                    <% if(pages >= 3) { %>
                                                        <li class="page-item"><a class="page-link" href="/user/page/3">3</a></li>
                                                        <% } %>
                                                            <% if(pages < 3) { %>
                                                                <li class="page-item "><a class="page-link disable" href="/user/page/3">3</a></li>
                                                                <% } %>
                                                                    <% if(next<=pages) { %>
                                                                        <li class="page-item">
                                                                            <a class="page-link" href="/user/page/<%= next %>" aria-label="Next">
                                                                                <span aria-hidden="true">&raquo;</span>
                                                                                <span class="sr-only">Next</span>
                                                                            </a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% if(next>pages) { %>
                                                                                <li class="page-item">
                                                                                    <a class="page-link disable" href="#" aria-label="Next">
                                                                                        <span aria-hidden="true">&raquo;</span>
                                                                                        <span class="sr-only">Next</span>
                                                                                    </a>
                                                                                </li>
                                                                                <% } %>
                </ul>
            </nav>
        </div>
    </div>
    <script type="text/javascript" src="./assets/scripts/main.js"></script>
    <%- include("./partials/footer") %>