<%- include("./partials/header") %>
    <div class="container">
        <h1 class="jumbotron" style="text-align: center;">
            Add a new Question to
            <%= quiz.name %>
        </h1>

        <form action="/quiz/<%= quiz._id %>/questions" method="POST">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Enter Question Description</label>
                <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Option 1</span>

                </div>
                <input type="text" name="option1" class="form-control">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Option 2</span>

                </div>
                <input type="text" name="option2" class="form-control">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Option 3</span>

                </div>
                <input type="text" name="option3" class="form-control">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Option 4</span>

                </div>
                <input type="text" name="option4" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">What will be the correct answer</label>
                <select class="form-control" id="exampleFormControlSelect1" name="answer">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-success">Add</button>
            </div>
            <div class="form-group">
                <a class="btn btn-warning" href="/quiz/<%= quiz._id %>">Return to quiz</a>
            </div>
        </form>

        <% var i=1; %>
            <% var count = parseInt(qCount); %>

                <% for(var j=count-1;j>=0;j--) { %>

                    <div class="card">
                        <div class="card-header">
                            Question
                            <%= j+1 %>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    <%= quiz.questions[j].description %>
                                </p>
                            </blockquote>
                            <% var k=0; %>
                                <ul class="list-group">
                                    <% for(k=0;k<4;k++) { %>
                                        <% if(k+1==quiz.questions[j].answer) { %>
                                            <li class="list-group-item active">
                                                <%= quiz.questions[j].options[k] %>
                                            </li>
                                            <% } %>
                                                <% if(k+1!=quiz.questions[j].answer) { %>
                                                    <li class="list-group-item">
                                                        <%= quiz.questions[j].options[k] %>
                                                    </li>
                                                    <% } %>
                                                        <% } %>
                                </ul>




                        </div>
                        <form class="pull-right" action="/quiz/<%=quiz._id%>/questions/qn/<%=quiz.questions[j]._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">DELETE</button>
                            <a href="/quiz/<%=quiz._id%>/questions/qn/<%=quiz.questions[j]._id%>/edit" class="btn btn-sm btn-warning">EDIT</a>
                        </form>

                    </div>
                    <br>

                    <% i++; %>
                        <% } %>
                            <div class="form-group" style="text-align: center;">
                                <a class="btn btn-warning" href="/quiz/<%= quiz._id %>">Finalize</a>
                            </div>

    </div>

    <%- include("./partials/footer") %>