<%- include("./partials/header") %>
    <div class="container">
        <h1 class="jumbotron">Edit
            <%= quiz.name %>
        </h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/quiz/<%=quiz._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Quiz Name</label>
                    <input class="form-control" id="name" type="text" name="name" value="<%= quiz.name %>">
                </div>
                <div class="form-group">
                    <label for="slot">Quiz Slot</label>
                    <input class="form-control" id="slot" type="text" name="slot" value="<%= quiz.slot %>">
                </div>
                <div class="form-group">
                    <label for="reward">Quiz Reward</label>
                    <input class="form-control" id="reward" type="text" name="reward" value="<%= quiz.reward %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
            <a href="/quiz">Go Back</a>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Payment Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to pay the user?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="order-button1" class="btn btn-default" data-dismiss="modal">Yes</button>
                    </div>
                </div>

            </div>
        </div>
        <script>
            document.getElementById('order-button1').onclick = function(e) {
                alert
                var url = '/razorpay/payout';
                var url2 = '/response/<%= response._id %>';
                var params = {
                    amount: response.quiz.reward * 100,
                    fundAccountId: response.user.fundAccount,
                    quizName: response.quiz.name,
                };

                var xmlHttp = new XMLHttpRequest();
                //On successful transaction
                xmlHttp.onreadystatechange = function(res) {
                    if (xmlHttp.readyState === 4) {
                        res = JSON.parse(xmlHttp.responseText);
                        if (res.data != "rejected" || res.data != "cancelled") {
                            var newxmlHttp = new XMLHttpRequest();
                            newxmlHttp.open("PUT", url2, true); // false for synchronous request
                            newxmlHttp.setRequestHeader("Content-type", "application/json");
                        }
                    }
                }
                xmlHttp.open("POST", url, true); // false for synchronous request
                xmlHttp.setRequestHeader("Content-type", "application/json");
                xmlHttp.send(JSON.stringify(params));
            }
        </script>
    </div>
    <%- include("./partials/footer") %>